common --enable_bzlmod=false

build:clang-format-base --@bazel_clang_format//:binary=@llvm18//:clang-format
build:clang-format-base --@bazel_clang_format//:ignore=//:clang-format-ignore
build:clang-format-base --output_groups=report
build:clang-format-base --keep_going

build:clang-format --config=clang-format-base
build:clang-format --aspects=@bazel_clang_format//:defs.bzl%check_aspect

build:clang-format-fix --config=clang-format-base
build:clang-format-fix --aspects=@bazel_clang_format//:defs.bzl%fix_aspect
build:clang-format-fix --use_action_cache=false
